.App {
  text-align: center;
}

.App-header {
  background-color: #7486e1;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-left {
  float: left;
  width: 30%;
}

.App-right {
  float: right;
  width: 70%;
}